.exp-skills-container {
  background-color: #f0f0e8;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.exp-container {
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 90px;
}

.skills-container {
  padding-top: 120px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.exp-content {
  margin-top: 30px;
  flex: grid;
}

.experience-1 {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0.5px;
  border-style: solid;
  border-color: grey;
  border-width: 1;

  padding-top: 30px;
  padding-bottom: 30px;
}

.experience-2 {
  display: flex;
  flex-direction: row;
  column-gap: 25px;

  padding-top: 30px;
  padding-bottom: 30px;
}

.skills-list {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-right: 90px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}
